h2#imPgTitle {float: left; margin-left: 6px; margin-right: 6px; width: 972px;}
#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 972px;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 978px; min-height: 232px; border-top: 3px solid transparent; border-bottom: 3px solid transparent; border-left: 3px solid transparent; border-right: 3px solid transparent;}
#imCellStyle_1 { position: relative; width: 970px; min-height: 224px; padding: 3px 3px 3px 3px; text-align: center; border-top: 1px solid #0080C0; border-bottom: 1px solid #0080C0; border-left: 1px solid #0080C0; border-right: 1px solid #0080C0; z-index: 3;}
#imCellStyleGraphics_1 { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: transparent;}
#imCell_4 { display: block; position: relative; overflow: hidden; width: 322px; min-height: 678px; border-top: 3px solid transparent; border-bottom: 3px solid transparent; border-left: 3px solid transparent; border-right: 3px solid transparent;}
#imCellStyle_4 { position: relative; width: 316px; min-height: 672px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 3;}
#imCellStyleGraphics_4 { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: transparent;}
#imTextObject_4 { line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_4 a { color: inherit; }
#imTextObject_4 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_4 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 8pt; line-height: 17px; *line-height: 1.55; }
#imTextObject_4 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_4 table td { padding: 4px 3px 4px 3px; margin: 0px;line-height: 20px;}
#imTextObject_4 p { margin: 0; padding: 0; }
#imTextObject_4 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_4 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_4 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_4 .imUl { text-decoration: underline; }
#imTextObject_4 .ff0 { font-family: Tahoma; }
#imTextObject_4 .ff1 { font-family: Tahoma; }
#imTextObject_4 .ff2 { font-family: Arial; }
#imTextObject_4 .cf1 { color: #000000; }
#imTextObject_4 .cf2 { color: #FFFFFF; }
#imTextObject_4 .cf3 { color: #5FAD71; }
#imTextObject_4 .cf4 { color: #000000; }
#imTextObject_4 .fs20 { font-size: 10pt; line-height: 20px; }
#imTextObject_4 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_4 .cb1 { background-color: #000000; }
#imTextObject_4 .cb2 { background-color: transparent; }
#imTextObject_4 .cb3 { background-color: #5FAD71; }
#imTextObject_4 .cb4 { background-color: #000000; }
#imCell_3 { display: block; position: relative; overflow: hidden; width: 322px; min-height: 693px; border-top: 3px solid transparent; border-bottom: 3px solid transparent; border-left: 3px solid transparent; border-right: 3px solid transparent;}
#imCellStyle_3 { position: relative; width: 314px; min-height: 663px; padding: 14px 3px 14px 3px; text-align: center; border-top: 1px solid #5FAD71; border-bottom: 1px solid #5FAD71; border-left: 1px solid #5FAD71; border-right: 1px solid #5FAD71; z-index: 3;}
#imCellStyleGraphics_3 { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: transparent;}
#imTextObject_3 { line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_3 a { color: inherit; }
#imTextObject_3 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_3 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 8pt; line-height: 17px; *line-height: 1.55; }
#imTextObject_3 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_3 table td { padding: 4px 3px 4px 3px; margin: 0px;line-height: 20px;}
#imTextObject_3 p { margin: 0; padding: 0; }
#imTextObject_3 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_3 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_3 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_3 .imUl { text-decoration: underline; }
#imTextObject_3 .ff0 { font-family: Tahoma; }
#imTextObject_3 .ff1 { font-family: Tahoma; }
#imTextObject_3 .ff2 { font-family: Arial; }
#imTextObject_3 .ff3 { font-family: Arial; }
#imTextObject_3 .cf1 { color: #000000; }
#imTextObject_3 .cf2 { color: #FFFFFF; }
#imTextObject_3 .cf3 { color: #5FAD71; }
#imTextObject_3 .cf4 { color: #00737A; }
#imTextObject_3 .cf5 { color: #000000; }
#imTextObject_3 .fs20 { font-size: 10pt; line-height: 20px; }
#imTextObject_3 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px;}
#imTextObject_3 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_3 .cb1 { background-color: #000000; }
#imTextObject_3 .cb2 { background-color: transparent; }
#imTextObject_3 .cb3 { background-color: #5FAD71; }
#imTextObject_3 .cb4 { background-color: #00737A; }
#imTextObject_3 .cb5 { background-color: #000000; }
#imCell_5 { display: block; position: relative; overflow: hidden; width: 322px; min-height: 678px; border-top: 3px solid transparent; border-bottom: 3px solid transparent; border-left: 3px solid transparent; border-right: 3px solid transparent;}
#imCellStyle_5 { position: relative; width: 314px; min-height: 644px; padding: 16px 3px 16px 3px; text-align: center; border-top: 1px solid #5FAD71; border-bottom: 1px solid #5FAD71; border-left: 1px solid #5FAD71; border-right: 1px solid #5FAD71; z-index: 3;}
#imCellStyleGraphics_5 { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: transparent;}
#imTextObject_5 { line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_5 a { color: inherit; }
#imTextObject_5 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_5 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 8pt; line-height: 17px; *line-height: 1.55; }
#imTextObject_5 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_5 table td { padding: 4px 3px 4px 3px; margin: 0px;line-height: 20px;}
#imTextObject_5 p { margin: 0; padding: 0; }
#imTextObject_5 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_5 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_5 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_5 .imUl { text-decoration: underline; }
#imTextObject_5 .ff0 { font-family: Tahoma; }
#imTextObject_5 .ff1 { font-family: Tahoma; }
#imTextObject_5 .ff2 { font-family: Arial; }
#imTextObject_5 .ff3 { font-family: Arial; }
#imTextObject_5 .ff4 { font-family: MyriadPro-Bold; }
#imTextObject_5 .cf1 { color: #000000; }
#imTextObject_5 .cf2 { color: #FFFFFF; }
#imTextObject_5 .cf3 { color: #CB923D; }
#imTextObject_5 .cf4 { color: #000000; }
#imTextObject_5 .fs20 { font-size: 10pt; line-height: 20px; }
#imTextObject_5 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px;}
#imTextObject_5 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_5 .fs14 { vertical-align: baseline; font-size: 7pt; line-height: 16px; *line-height: 1.7; }
#imTextObject_5 .cb1 { background-color: #000000; }
#imTextObject_5 .cb2 { background-color: transparent; }
#imTextObject_5 .cb3 { background-color: #CB923D; }
#imTextObject_5 .cb4 { background-color: #000000; }
#imCell_7 { display: block; position: relative; overflow: hidden; width: 322px; min-height: 216px; border-top: 3px solid transparent; border-bottom: 3px solid transparent; border-left: 3px solid transparent; border-right: 3px solid transparent;}
#imCellStyle_7 { position: relative; width: 316px; min-height: 180px; padding: 3px 3px 33px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 3;}
#imCellStyleGraphics_7 { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: transparent;}
#imTextObject_7 { line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_7 a { color: inherit; }
#imTextObject_7 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_7 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 8pt; line-height: 17px; *line-height: 1.55; }
#imTextObject_7 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_7 table td { padding: 4px 3px 4px 3px; margin: 0px;line-height: 20px;}
#imTextObject_7 p { margin: 0; padding: 0; }
#imTextObject_7 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_7 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_7 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_7 .imUl { text-decoration: underline; }
#imTextObject_7 .ff0 { font-family: Tahoma; }
#imTextObject_7 .ff1 { font-family: Tahoma; }
#imTextObject_7 .ff2 { font-family: Arial; }
#imTextObject_7 .cf1 { color: #000000; }
#imTextObject_7 .cf2 { color: #FFFFFF; }
#imTextObject_7 .cf3 { color: #5FAD71; }
#imTextObject_7 .cf4 { color: #000000; }
#imTextObject_7 .fs20 { font-size: 10pt; line-height: 20px; }
#imTextObject_7 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px;}
#imTextObject_7 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_7 .cb1 { background-color: #000000; }
#imTextObject_7 .cb2 { background-color: transparent; }
#imTextObject_7 .cb3 { background-color: #5FAD71; }
#imTextObject_7 .cb4 { background-color: #000000; }
#imCell_6 { display: block; position: relative; overflow: hidden; width: 650px; min-height: 216px; border-top: 3px solid transparent; border-bottom: 3px solid transparent; border-left: 3px solid transparent; border-right: 3px solid transparent;}
#imCellStyle_6 { position: relative; width: 642px; min-height: 208px; padding: 3px 3px 3px 3px; text-align: center; border-top: 1px solid transparent; border-bottom: 1px solid transparent; border-left: 1px solid transparent; border-right: 1px solid transparent; z-index: 3;}
#imCellStyleGraphics_6 { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: transparent;}
#imTextObject_6 { line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_6 a { color: inherit; }
#imTextObject_6 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_6 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 8pt; line-height: 17px; *line-height: 1.55; }
#imTextObject_6 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_6 table td { padding: 4px 3px 4px 3px; margin: 0px;line-height: 20px;}
#imTextObject_6 p { margin: 0; padding: 0; }
#imTextObject_6 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_6 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_6 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_6 .imUl { text-decoration: underline; }
#imTextObject_6 .ff0 { font-family: Tahoma; }
#imTextObject_6 .ff1 { font-family: Tahoma; }
#imTextObject_6 .ff2 { font-family: Arial; }
#imTextObject_6 .cf1 { color: #000000; }
#imTextObject_6 .cf2 { color: #FFFFFF; }
#imTextObject_6 .cf3 { color: #5FAD71; }
#imTextObject_6 .cf4 { color: #000000; }
#imTextObject_6 .fs20 { font-size: 10pt; line-height: 20px; }
#imTextObject_6 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px;}
#imTextObject_6 .cb1 { background-color: #000000; }
#imTextObject_6 .cb2 { background-color: transparent; }
#imTextObject_6 .cb3 { background-color: #5FAD71; }
#imTextObject_6 .cb4 { background-color: #000000; }
